<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
          
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>About Us</title>
</head>
<body background="about.jpg" style="width:100%;height:50;background-repeat:no-repeat;">
<section class="inner-container">
  <aside class="inner-container-left col-sm-9" style="width:100%;">
    <section></section>
    
    <section class="we-recommand-outer getaways">
        <h1 class="center">About us</h1> </section>
        <div class="clear"></div>
            <div class="entry-content eventtracker" data-event-sub-cat="InternalLinks" style="min-height:350px; ">
	 
</div>
  <div class="row">
        <div class="col s12 m3">
 <div class="card small" style="margin: 20px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/anurag.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Shlok Srivastava<i class="material-icons right">close</i></span>
      <p>Head of the corporation. Has corporational's vision and know how to adapt to give bet policies. </p>
    </div>
  </div>
  </div>
  <!--2 -->
  <div class="col s12 m3">
 <div class="card small" style="margin: 20px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/anurag.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Ranging from small start-up, I have done corporation with many employees. Efective communication, leadership and management skills.</p>
    </div>
  </div>
  </div>
  <!--3 -->
  <div class="col s12 m3">
 <div class="card small" style="margin: 20px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/anurag.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Have done various development programs which can help to learn the tricks of the trade. Vast knowledge about market and finance.</p>
    </div>
  </div>
  </div>
  <!-- 4 -->
   <div class="col s12 m3">
 <div class="card small" style="margin: 20px;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/anurag.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Has done interational business, job-related business, has handled finance related issues.</p>
    </div>
  </div>
  </div>
  </div>
</section>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
 
</body>
</html>
