<h1>Navs#blog</h1>
<p>Find me in app/views/navs/blog.html.erb</p>
<%= form_for :budget do |f| %>
  First name: <%= f.text_field :current_email %>
  Last name : <%= f.text_field :from %>
  <%= f.submit %>
<% end %>