<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>YatraAnywhere</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <%=stylesheet_link_tag "style.css"%>
  
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2" style="font-family:MV Boli;">Experience Now</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="font-family:MV Boli;">The beautiful and incredible place India really is...  </h5>
        </div>
        <div class="row center" style="font-family:MV Boli;">
          <%if !user_signed_in?%>
          <%=link_to "Get Started", new_user_session_path, id: "download-button", class: "btn-large waves-effect waves-light teal lighten-1"%>
          <%else%>
           <%=link_to "Travel Companion", budgetty_path, id: "download-button", class: "btn-large waves-effect waves-light teal lighten-1"%>
          <%end%>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%=image_tag "background1.jpg", alt: "Unplashed background img 1"%></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center" style="font-family:MV Boli;">Why Choose Us? </h5>

            <p class="light" style="font-family:MV Boli;">At Cool Wind Tours, your  vacation plans are of great importance to us. We value  your time and money. Sincerity, good faith, genuineness -  they're all part of the ethic we embrace in approaching our travel operations.  We have what it takes, the expertise, the manpower, the infrastructure but  above all, it is our 'personalised programs' that will truly make your expedition  a memorable one. This is our ultimate goal! So, why take chances? Choose wisely  and entrust your Travel Plans ONLY to the qualified and trustworthy - to people  who can TRULY care for you. This is us.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center black-text" style="font-family:MV Boli;">User Experience Focused</h5>

            <p class="light" style="font-family:MV Boli;">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center" style="font-family:MV Boli;">Easy to work with</h5>

            <p class="light" style="font-family:MV Boli;">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="font-family:MV Boli;">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 style="font-family:MV Boli;">India - As you have never seen before</h4>
          <p class="center-align light"> <iframe width="420" height="315"
            src="https://www.youtube.com/embed/m6oj5tsLRMk">
            </iframe>
		  </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col text-black s12 light" style="font-family:MV Boli;">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
